@{
	Layout = null;
}
<html>
<head>
	<link rel="stylesheet" href="/css/error404.css">
</head>
<body>
	<div class="container">
		<div class="status text">404</div>
		
		
	</div>
	<div class="container">
		<div class="message text">Did you get lost? I know that feeling. </div>
	</div>

	<div class="container">
		<img src="/images/Gif/videoplayback.gif" alt="Animated GIF" width="600" height="300">
	</div>
	<div class="container">
		<div class="message text">
			<a href="/Post/Index">
				Back to Home
			</a>
		</div>
	</div>


</body>
</html>
