<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="stylesheet" href="~/css/Signup.css">
    <!-- Custom Styles -->
    
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="logo-container">
                    <img src="https://i.hizliresim.com/ooa69d4.png" alt="Logo">
                </div>
                <div class="card p-5">
                    <h2 class="card-title mb-4">Login</h2>
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter your username" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                        </div>
                        <button type="button" class="btn btn-primary btn-login" onclick="login()">Login</button>

                        <p class="mt-3">Don't have an account? <a href="/User/Signup">Create New Account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function login() {
            $.ajax({
                type: 'POST',
                url: '/User/Login',
                data: {
                    username: $("#username").val(),
                    password: $("#password").val()
                },
                error: function () {
                    alert("Login failed!");
                },
                success: function () {
                    location.href = '/Post/Index';
                }
            });
        }
    </script>

</body>

</html>
