@model BlogPostViewModel

<html>
<form asp-controller="Comment" asp-action="CreateComment" method="post" class="form">
    <input type="hidden" asp-for="@Model.comment.PostId" value="@Model.post.Id" />
    <div class="mb-3">
        <textarea class="form-control" asp-for="@Model.comment.Content" placeholder="Yanıtla" rows="4"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Yanıtla</button>
    </div>
</form>

</html>
