@model SporC.Entities.Concrete.Post

<head>
	<title> Gönderi Oluştur</title>
	
</head>

<body>
	<h2> Gönderi Oluştur</h2>

	<div class="card-body">
		<form asp-action="create" method="post" asp-controller="Post" >
			<div class="mb-3">
				
				<label asp-for="@Model.Content" class="form-label"> </label>
				<input type="text" class="form-control" asp-for="@Model.Content" placeholder="Gönderi oluştur.">
				
			</div>
			<div class="mb-3">
				<label asp-for="@Model.Title" class="form-label"> </label>
				<input type="text" class="form-control" asp-for="@Model.Title" placeholder="Konu başlığı girin.">
			</div>
			<div class="mb-3">
				<button class="btn btn-success" type="submit">Kaydet</button>
			</div>

		</form>z
	</div>
</body>
</html>