@model BlogPostViewModel

<h2>Silmek İstediğinize Emin Misiniz?</h2>
<p>
    Post'u silmek istediğinizden emin misiniz?
</p>
<form asp-controller="Post" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="post.Id" value="@Model.post.Id" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-controller="Post" asp-action="Index" class="btn btn-primary">Hayır, Vazgeç</a>
</form>