@model BlogPostViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.post.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="post-detail">
                    <h2>@Model.post.Title</h2>
                    <p>@Model.post.Content</p>

                    <form asp-controller="Post" asp-action="CreateComment" method="post" class="form">
                        <input type="hidden" asp-for="comment.PostId" value="@Model.post.Id" />
                        <div class="mb-3">
                            <textarea class="form-control" asp-for="comment.Content" placeholder="Yanıtla" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Yanıtla</button>
                        </div>
                    </form>




                    <a asp-controller="Post" asp-action="Index" class="btn btn-primary">Tüm Gönderilere Geri Dön</a>              

                </div>
            </div>
        </div>
    </div>
</body>
</html>
