@using SporC.Web.Models.ViewModel;
@model BlogPostViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gönderiyi Güncelle";
}
<script src="~/CKEditor/Build/ckeditor.js"></script>
<body class="theme-color-two">
    <div class="container mt-5 mb-5">
        <h2>Edit Post</h2>
        <div class="mb-3">
            <form asp-action="UpdatePost" asp-controller="Post" method="post">
                <div class="form-group mb-3">
                    <label asp-for="post.Title" class="control-label">Title</label>
                    <textarea id="updateTitle" asp-for="post.Title" class="form-control mb-3"></textarea>
                    <span asp-validation-for="post.Title" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="post.Content" class="control-label">Content</label>
                    <textarea id="updateContent" asp-for="post.Content" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="post.Content" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
               
            </form>
        </div>
    </div>

    <script>
        ClassicEditor
            .create(document.querySelector('#updateTitle'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#updateContent'))
            .catch(error => {
                console.error(error);
            });
    </script>
</body>
